.gellary {

    width: 100%;
    height: auto;
    padding: 0px 10%;
    @media (max-width: 685px) {
        padding: 0px 5%;
    }

    
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 685px) {
            display: none;
        }

        h1 {
            text-transform: uppercase;
            font-size: 50px;
            font-weight: 400;
            @media (max-width: 840px) {
                font-size: 30px;
            }
        }

        button {
            border: none;
            outline: none;
            padding: 10px 30px;
            border: 1px solid #000;
            background-color: #fff;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
            transition: all 400ms ease-in-out;
        }
        button:hover {
            background-color: #000;
            color: #fff;
        }
    }


    &__images__desktop {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;
        margin-top: 40px;

        @media (max-width: 685px) {
            display: none;
        }

        .card {
            width: 100%;
            position: relative;
            transition: all 300ms ease-in-out;
            &::after {
                content: "";
                position: absolute;
                width: 0%;
                height: 100%;
                background-color: #ffffffbb;
                left: 0;
                top: 0;
            }
            &:hover {
                &::after {
                    width: 100%;
                }
                p {
                    color: #000;
                }
                transform: scale(1.1);
            }

            img {
                width: 100%;
                filter: brightness(80%);
                border-radius: 3px;
            }

            p {
                color: #fff;
                position: absolute;
                left: 15%;
                bottom: 0;
                font-size: 40px;
                text-transform: uppercase;
                z-index: 1000;
            }
        }

    }


    &__images__mobile {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        @media (min-width: 685px) {
            display: none;
        }


            .card {
                width: 100%;
                position: relative;
                transition: all 300ms ease-in-out;
                &::after {
                content: "";
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    background-color: #ffffffbb;
                    left: 0;
                    top: 0;
                }
                &:hover {
                    &::after {
                        width: 100%;
                    }
                    p {
                        color: #000;
                    }
                }

                img {
                    width: 100%;
                    filter: brightness(80%);
                    border-radius: 3px;
                }

                p {
                    color: #fff;
                    position: absolute;
                    left: 15%;
                    bottom: 0;
                    font-size: 40px;
                    text-transform: uppercase;
                    z-index: 1000;
                }
        }


    }

    .container {
        @media (min-width: 685px) {
            display: none;
        }
        text-align: center;
        h1 {
            width: 100%;
            text-align: center;
            font-size: 60px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 80px;
        }
        button {
            border: none;
            outline: none;
            border: 1px solid #000;
            text-transform: uppercase;
            padding: 12px 40px;
            margin: 20px;
            background: #fff;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 4px;
            cursor: pointer;
            transition: all 300ms ease-in-out;


            &:hover {
                color: #fff;
                background: #000;
            }
        }
    }

}